* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }

  /* HEADER */
  
  .header-bg {
    background-color: #171b1b;
    padding: 15px;
  }
  
  .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-nav li {
    padding-right: 60px;
  }
  
  .logo {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
  
  .nav {
    margin-left: 60px;
  }
  
  .nav ul {
    display: flex;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
  }
  
  .header-bar {
    color: #ffffff;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact {
    font-size: 16px;
    line-height: 23.71px;
    font-weight: 400;
    border: 1px solid #ffffff4b;
    padding: 15px 50px;
  }
  
/* END OF HEADER */

/* Main Page   */

 .main-page {
  background-color: #171b1b;
}

  .introduction {
    width: 1400px;
    display: flex;
    margin: 0 auto;
    gap: 320px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .main-image {
    position: relative;
  }

  .arrow-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }
  
  .info {
    color: #ffffff;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .title-small {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
  }
  
  .title {
    font-size: 72px;
    line-height: 80px;
    width: 500px;
  }
  
  .intro-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    width: 400px;
  }
  
  .relative-top {
    position: relative;
    width: 1400px;
    margin: 0 auto;
  }
  
  .shape-top {
    position: absolute;
    right: 350px;
  }
  
  .relative-side {
    position: relative;
  }
  
  .shape-side {
    position: absolute;
    right: 0;
    bottom: 140px;
  }
  
  .relative-bottom {
    position: relative;
    width: 1400px;
    margin: 0 auto;
  }
  
  .shape-bottom {
    position: absolute;
    left: 52%;
    bottom: 0px;
    transform: translate(-50%);
    max-height: 140px;
    overflow: hidden;
  }